
.header {
  border: 2px solid black;
  text-align: center;
  padding: 50px;
}

.navegation {
  border:2px solid black;
  text-align: center;
  margin-top: 40px;
  padding: 50px;
  margin-bottom: 40px;
  
}

.navegation a {
  font-size: 25px;
  padding: 100px;
  
}

.artigos {
  
  border: 2px solid black;
  
}

.artigos h3 {
  font-size: 25px;
  text-align: center;
}


.general-info {
  border: 2px solid black;
  margin-top: 40px;
}

.general-info li {
  font-size: 20px;
  padding: 20px;
}

.general-info img {
  width: 400px;
  float: right;
  position: static;
  margin-top: 150px;
  margin-right: 70px;
}

.caracteristicas {
  border: 2px solid black;
  margin-top: 40px;
  margin-bottom: 40px;
}

.caracteristicas p {
  font-size: 20px;
  padding: 20px;
}

.secao-final {
  border: 2px solid black;
  margin-top: 40px;
}

.secao-final p {
  font-size: 20px;
  padding: 20px;
}