div:hover {
  border: 1px solid black;

}

div:nth-child(3) {
  background-color: aqua;

}

div:nth-child(4) {
  background-color: greenyellow;

}

div:nth-child(5) {
  background-color: orange;
  font-size: 20px;
}

div:nth-child(6) {
  background-color: grey;

}

div:nth-child(7) {
  background-color: yellow;

}

h3:nth-child(odd){
  text-decoration: underline;
  font-style: italic;
}


